# Working with Data - Computer Lab for Guest Lecture Julia Lane

In this computer lab we will learn more more details and practice data work to enhance the content of the lecture presented by Julia Lane on responsible data use. We will address a research question, think about data and measurement errors, and manipulate data. 

OUTLINE: 
1. Define a research question 
2. Think about what data are available 
3. Think about possible measurement errors 
4. Think about the interpretation of your results 
5. Inform your results by linking datasets

# 1. Define a reserach question
Which Community Districts in NYC show the highest number of complaints?

# 2. Think about what data are available
Find suitable data by searching the CUSP Data Catalog https://datahub.cusp.nyu.edu/catalog. You can use Urban Profiler to investigate the Metadata associated with each dataset. Using this tool will help you to decide which attributes of the data you need to answer your question so you don't have to load the entire dataset.

In [4]:
import os
import pandas as pd
import numpy as np
import re
PUIdata = os.getenv('PUIDATA')

In [5]:
# Load dataset
data = pd.read_csv('/projects/open/NYCOpenData/nycopendata/data/erm2-nwe9/1446832678/erm2-nwe9', 
                   usecols = ["Agency Name", "Borough", "Complaint Type", "Community Board", 
                              "Resolution Description", "Descriptor"])

In [6]:
data.head()

,Agency Name,Complaint Type,Descriptor,Resolution Description,Community Board,Borough
0,Department of Transportation,Street Condition,Pothole,NaN,13 BROOKLYN,BROOKLYN
1,CHALL,Opinion for the Mayor,HOUSING,Your comments have been submitted to the Mayor...,0 Unspecified,Unspecified
2,Department of Parks and Recreation,Root/Sewer/Sidewalk Condition,Trees and Sidewalks Program,The Department of Parks and Recreation usually...,18 BROOKLYN,BROOKLYN
3,New York City Police Department,Illegal Parking,Blocked Hydrant,Your complaint has been received by the Police...,12 BROOKLYN,BROOKLYN
4,HRA Benefit Card Replacement,Benefit Card Replacement,Medicaid,The Human Resources Administration received yo...,0 Unspecified,Unspecified

# 3. Think about possible measurement errors
Do you see any problems regarding possible measurement error? Think about who is represented in the data, ommissions, duplications, content error, missing data, etc.

In [7]:
# Check if all Boroughs and Community Districts are represented in the Data 
bor = data["Borough"].unique()
bor

array(['BROOKLYN', 'Unspecified', 'STATEN ISLAND', 'MANHATTAN', 'BRONX',
       'QUEENS'], dtype=object)

In [8]:
com = data["Community Board"].unique()
com

array(['13 BROOKLYN', '0 Unspecified', '18 BROOKLYN', '12 BROOKLYN',
       '02 STATEN ISLAND', '08 MANHATTAN', '06 BROOKLYN', '10 BRONX',
       '06 MANHATTAN', '04 BROOKLYN', '04 QUEENS', '09 MANHATTAN',
       '14 BROOKLYN', '05 MANHATTAN', '02 MANHATTAN', '10 QUEENS',
       '07 QUEENS', '02 QUEENS', '11 BROOKLYN', '05 QUEENS', '05 BROOKLYN',
       '09 QUEENS', '12 MANHATTAN', '01 BROOKLYN', '11 MANHATTAN',
       '03 BRONX', '03 STATEN ISLAND', '08 BROOKLYN', '03 BROOKLYN',
       '07 MANHATTAN', '10 MANHATTAN', '04 BRONX', '01 MANHATTAN',
       '07 BRONX', '09 BRONX', '03 MANHATTAN', '13 QUEENS', '02 BRONX',
       '12 QUEENS', '16 BROOKLYN', '08 QUEENS', '04 MANHATTAN',
       '14 QUEENS', '10 BROOKLYN', '11 QUEENS', '06 BRONX', '08 BRONX',
       '05 BRONX', '15 BROOKLYN', '02 BROOKLYN', '12 BRONX', '03 QUEENS',
       '06 QUEENS', '01 STATEN ISLAND', '01 BRONX', '01 QUEENS',
       '17 BROOKLYN', '11 BRONX', 'Unspecified QUEENS', '09 BROOKLYN',
       'Unspecified MANHATTAN', 'Unspecified BROOKLYN', '07 BROOKLYN',
       'Unspecified BRONX', '64 MANHATTAN', '81 QUEENS', '55 BROOKLYN',
       '83 QUEENS', 'Unspecified STATEN ISLAND', '28 BRONX', '80 QUEENS',
       '26 BRONX', '95 STATEN ISLAND', '82 QUEENS', '27 BRONX',
       '56 BROOKLYN', '84 QUEENS'], dtype=object)

In [9]:
# How many unique values do we have? 
len(bor)

6

In [10]:
len(com)

77

In [19]:
# Why do we have so many? Some of them are unspecified, missing. Some might be invalid entries. 
# We should have 59 Community Districts.
data['marker'] = data['Community Board'].str.contains("Unspecified")

In [21]:
def mark(data):
    if re.search(r"Unspecified", data):
        return 0
    elif int(re.search(r"(\d\d*)\s\w+", data).group(1))>20:
        return 0
    else:
        return 1

In [23]:
mark = data["Community Board"].apply(mark)

In [26]:
data["mark"] = mark

In [27]:
data_new = data[data.mark==1]

In [30]:
data_new["Community Board"].unique().shape

(59,)

In [65]:
data_ge = datanew[["Community Board","Complaint Type"]]
df_com = data_ge.groupby('Community Board').count()
df_com.columns = ['Number of Complaints']

In [66]:
df_com.head(20)

                  Number of Complaints
Community Board
01 BRONX                         74631
01 BROOKLYN                     185057
01 MANHATTAN                     77974
01 QUEENS                       171484
01 STATEN ISLAND                182713
02 BRONX                         60257
02 BROOKLYN                     121022
02 MANHATTAN                    133860
02 QUEENS                       114333
02 STATEN ISLAND                121132
03 BRONX                         75134
03 BROOKLYN                     197306
03 MANHATTAN                    150296
03 QUEENS                       122009
03 STATEN ISLAND                136487
04 BRONX                        181953
04 BROOKLYN                     139706
04 MANHATTAN                    132660
04 QUEENS                        99316
05 BRONX                        161078

# 4. Think about the interpretation of your results?
What do you have to keep in mind when interpreting your results? Are they generable? Does the way the data is collected influence your results? To better inform city agancies it might be good to explore in more detail the underlying dempgraphics/infrastructure of a Community District becasue this might influence 311 calls. You can do this by merging external data on the Community District level to your analysis data.

In [34]:
# Population by Community District
df_pop = pd.read_csv("http://cosmo.nyu.edu/~fb55/PUI2016/data//Final_Demographics.csv")
df_pop.head()

,FIPS,cd_id,Total Population,Population Density (per sq. mile),% Total Population: Male,% Total Population: 18 to 24 Years,% Total Population: 25 to 34 Years,% Total Population: 35 to 44 Years,% Population 5 Years And Over: Speak Only English,% Population 5 Years And Over: Spanish or Spanish Creole,...,"Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations","% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations",% Employed Civilian Population 16 Years And Over: Service occupations,% Employed Civilian Population 16 Years And Over: Sales and office occupations,"% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations","% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations"
0,3603701,BX08,106737,31229.95006,46.65,10.73,15.04,11.32,46.80,39.24,...,665,1518,42.66,28.95,20.89,0.24,2.65,4.60,1.40,3.20
1,3603702,BX12,134644,19966.67839,46.35,11.35,14.29,12.57,73.09,18.19,...,1156,4174,29.57,33.98,20.40,0.00,7.08,8.97,1.95,7.02
2,3603703,BX10,121209,12913.81703,45.20,8.62,13.74,12.78,61.79,26.43,...,941,3433,36.20,22.85,25.09,0.00,7.68,8.18,1.76,6.42
3,3603704,BX11,135839,35677.95453,50.09,8.10,17.43,14.09,43.22,36.45,...,2189,5592,30.06,27.86,22.24,0.00,7.03,12.81,3.60,9.20
4,3603705,BX03,172247,39405.79222,44.72,14.24,14.89,12.38,36.82,54.24,...,1437,5436,16.80,41.00,22.29,0.03,8.45,11.43,2.39,9.04

In [35]:
# Check variables in file
df_pop.columns

Index([u'FIPS', u'cd_id', u'Total Population',
       u'Population Density (per sq. mile)', u'% Total Population: Male',
       u'% Total Population: 18 to 24 Years',
       u'% Total Population: 25 to 34 Years',
       u'% Total Population: 35 to 44 Years',
       u'% Population 5 Years And Over: Speak Only English',
       u'% Population 5 Years And Over: Spanish or Spanish Creole',
       ...
       u'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       u'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations',
       u'% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations',
       u'% Employed Civilian Population 16 Years And Over: Service occupations',
       u'% Employed Civilian Population 16 Years And Over: Sales and office occupations',
       u'% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations',
       u'% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance  occupations',
       u'% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations',
       u'% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       u'% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations'],
      dtype='object', length=158)

In [37]:
df_pop["Population 25 Years and over: Master's degree"]

0      8216
1      5253
2      7598
3      7006
4      2544
5      2544
6      2967
7      2805
8      2999
9      5389
10     1733
11     1733
12    14412
13    10318
14    10726
15     5032
16    41633
17    42262
18    29230
19    29230
20    29512
21    16264
22    28388
23    28388
24    11803
25     8557
26     9315
27    13072
28     4252
29     6547
30    18549
31    22007
32     8971
33     2225
34     4230
35    14289
36     6266
37     6147
38     6791
39     9385
40     8211
41    12974
42    12457
43    10799
44     5975
45    16318
46     6263
47    13096
48    12326
49    10600
50    11937
51     6382
52    12789
53    10700
54     8146
55     6019
56     9608
57     4372
58     6659
Name: Population 25 Years and over: Master's degree, dtype: int64

In [36]:
# How many community districts are in file? 
len(df_pop['cd_id'].unique())

59

In [ ]:
# Manipulate data to get some information on demographics by Community District. 
# Think about who might be more likely to call 311

In [39]:
df_pop['higher_edu'] = df_pop["Population 25 Years and over: Master's degree"] + \
                       df_pop["Population 25 Years and over: Professional school degree"] + \
                       df_pop["Population 25 Years and over: Doctorate degree"]

In [41]:
# Save data frame
df_pop = df_pop[['cd_id', 'Total Population', 'higher_edu']]
df_pop.head()

  cd_id  Total Population  higher_edu
0  BX08            106737       13421
1  BX12            134644        5466
2  BX10            121209        8959
3  BX11            135839       10174
4  BX03            172247        3781

In [88]:
# Infrastructure by Community District
df_infr = pd.read_csv(PUIdata + "/ACS_Computer_Use_and_Internet_2014_1Year_Estimate.csv")

In [59]:
# Check variables in file
df_infr.count()

FIPS                                                       59
Geographic Identifier                                      59
Qualifying Name                                            59
Households                                                 59
Households: With An Internet Subscription                  59
Households: Dial-Up Alone                                  59
Households: Dsl                                            59
Households: With Mobile Broadband                          59
Households: Without Mobile Broadband                       59
Households: Cable Modem                                    59
Households: With Mobile Broadband.1                        59
Households: Without Mobile Broadband.1                     59
Households: Fiber-Optic                                    59
Households: With Mobile Broadband.2                        59
Households: Without Mobile Broadband.2                     59
Households: Satellite Internet Service                     59
Households: With Mobile Broadband.3                        59
Households: Without Mobile Broadband.3                     59
Households: Two or More Fixed Broadband Types, or Other    59
Households: With Mobile Broadband.4                        59
Households: Without Mobile Broadband.4                     59
Households: Mobile Broadband Alone or With Dialup          59
Households: Internet Access Without A Subscription         59
Households: No Internet Access                             59
% Households: With An Internet Subscription                59
Households.1                                               59
Households: Has A Computer                                 59
Households: With Dial-Up Internet Subscription Alone       59
Households: With A Broadband Internet Subscription         59
Households: Without An Internet Subscription               59
Households: No Computer                                    59
dtype: int64

In [44]:
# How many community districts are in file? 
df_infr['Qualifying Name'].count()

59

In [89]:
df_infr['with_mobile'] = df_infr['Households: With Mobile Broadband'] + \
                         df_infr['Households: With Mobile Broadband.1'] + \
                         df_infr['Households: With Mobile Broadband.2'] + \
                         df_infr['Households: With Mobile Broadband.3'] + \
                         df_infr['Households: With Mobile Broadband.4'] + \
                         df_infr['Households: Mobile Broadband Alone or With Dialup'] 

df_infr['no_mobile'] = df_infr['Households: Without Mobile Broadband'] + \
                       df_infr['Households: Without Mobile Broadband.1'] + \
                       df_infr['Households: Without Mobile Broadband.2'] + \
                       df_infr['Households: Without Mobile Broadband.3'] + \
                       df_infr['Households: Without Mobile Broadband.4'] + \
                       df_infr['Households: Internet Access Without A Subscription'] + \
                       df_infr['Households: No Internet Access'] + \
                       df_infr['Households: Dial-Up Alone']

In [90]:
# Manipulate data to get some information on internet/broadband useage by Community District
# Aggregate the mobile subscription data
df_infr['high_inter'] = df_infr['Households: Dsl'] + \
                        df_infr['Households: Cable Modem'] + \
                        df_infr['Households: Fiber-Optic'] + \
                        df_infr['Households: Satellite Internet Service'] + \
                        df_infr['Households: Two or More Fixed Broadband Types, or Other']

df_infr['low_inter'] = df_infr['Households: Dial-Up Alone'] + \
                       df_infr['Households: Mobile Broadband Alone or With Dialup'] + \
                       df_infr['Households: Internet Access Without A Subscription']

In [91]:
# Save data frame 
df_infr = df_infr[['Qualifying Name', 'high_inter', 'low_inter','with_mobile', 'no_mobile']]
df_infr.head()

,Qualifying Name,high_inter,low_inter,with_mobile,no_mobile
0,"NYC-Bronx Community District 8--Riverdale, New...",29183,4731,17527,24508
1,"NYC-Bronx Community District 12--Wakefield, Ne...",31137,2997,11414,33416
2,"NYC-Bronx Community District 10--Co-op City, N...",31932,3679,12064,34986
3,NYC-Bronx Community District 11--Pelham Parkwa...,30861,3864,11749,33173
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",34030,4785,16292,41264

# 5. Inform your results by linking datasets
Now you want to link the three data frames to produce summary statistics for Community Districts which show a high number of complaints vs. Community Districts which show a lower number of complaints. Please keep in mind that the identifiers used for the linkage (Community Dostrict IDs) should be recored the same way. Use regular expressions to harmonize the identifiers if possible. The identifiers should look like BK01, BK02, etc.
https://docs.python.org/2/library/re.html

In [69]:
# Harmonize identifier of dataframe 1

In [75]:
df_com = df_com.reset_index()

In [71]:
df_com["Community Board"].unique()

array(['01 BRONX', '01 BROOKLYN', '01 MANHATTAN', '01 QUEENS',
       '01 STATEN ISLAND', '02 BRONX', '02 BROOKLYN', '02 MANHATTAN',
       '02 QUEENS', '02 STATEN ISLAND', '03 BRONX', '03 BROOKLYN',
       '03 MANHATTAN', '03 QUEENS', '03 STATEN ISLAND', '04 BRONX',
       '04 BROOKLYN', '04 MANHATTAN', '04 QUEENS', '05 BRONX',
       '05 BROOKLYN', '05 MANHATTAN', '05 QUEENS', '06 BRONX',
       '06 BROOKLYN', '06 MANHATTAN', '06 QUEENS', '07 BRONX',
       '07 BROOKLYN', '07 MANHATTAN', '07 QUEENS', '08 BRONX',
       '08 BROOKLYN', '08 MANHATTAN', '08 QUEENS', '09 BRONX',
       '09 BROOKLYN', '09 MANHATTAN', '09 QUEENS', '10 BRONX',
       '10 BROOKLYN', '10 MANHATTAN', '10 QUEENS', '11 BRONX',
       '11 BROOKLYN', '11 MANHATTAN', '11 QUEENS', '12 BRONX',
       '12 BROOKLYN', '12 MANHATTAN', '12 QUEENS', '13 BROOKLYN',
       '13 QUEENS', '14 BROOKLYN', '14 QUEENS', '15 BROOKLYN',
       '16 BROOKLYN', '17 BROOKLYN', '18 BROOKLYN'], dtype=object)

In [72]:
cd_id = {'BRONX': 'BX', 'BROOKLYN': 
         'BK', 'MANHATTAN': 'MN', 'QUEENS': 'QN', 'STATEN ISLAND': 'SI'}


df_com['cd_num'] = df_com['Community Board'].str[:2]
df_com['cd_bor'] = df_com['Community Board'].str[3:]


df_com.replace({'cd_bor': cd_id}, inplace=True)
df_com['cd_id'] = df_com.cd_bor + df_com.cd_num
df_com_new = df_com[["cd_id", "Number of Complaints"]]

df_com_new.head()

  cd_id  Number of Complaints
0  BX01                 74631
1  BK01                185057
2  MN01                 77974
3  QN01                171484
4  SI01                182713

In [73]:
# Harmonize identifier of dataframe 2
df_pop['cd_id'].unique()

array(['BX08', 'BX12', 'BX10', 'BX11', 'BX03', 'BX06', 'BX07', 'BX05',
       'BX04', 'BX09', 'BX01', 'BX02', 'MN12', 'MN09', 'MN10', 'MN11111',
       'MN08', 'MN07', 'MN05', 'MN04', 'MN06', 'MN03', 'MN01', 'MN02',
       'SI03', 'SI02', 'SI01', 'BK01', 'BK04', 'BK03', 'BK02', 'BK06',
       'BK08', 'BK16', 'BK05', 'BK18', 'BK17', 'BK09', 'BK07', 'BK10',
       'BK12', 'BK14', 'BK15', 'BK11', 'BK13', 'QN01', 'QN03', 'QN07',
       'QN11', 'QN13', 'QN08', 'QN04', 'QN06', 'QN02', 'QN05', 'QN09',
       'QN12', 'QN10', 'QN14'], dtype=object)

In [74]:
df_pop.replace('MN11111', 'MN11', inplace=True)
df_pop['cd_id'].unique()

array(['BX08', 'BX12', 'BX10', 'BX11', 'BX03', 'BX06', 'BX07', 'BX05',
       'BX04', 'BX09', 'BX01', 'BX02', 'MN12', 'MN09', 'MN10', 'MN11',
       'MN08', 'MN07', 'MN05', 'MN04', 'MN06', 'MN03', 'MN01', 'MN02',
       'SI03', 'SI02', 'SI01', 'BK01', 'BK04', 'BK03', 'BK02', 'BK06',
       'BK08', 'BK16', 'BK05', 'BK18', 'BK17', 'BK09', 'BK07', 'BK10',
       'BK12', 'BK14', 'BK15', 'BK11', 'BK13', 'QN01', 'QN03', 'QN07',
       'QN11', 'QN13', 'QN08', 'QN04', 'QN06', 'QN02', 'QN05', 'QN09',
       'QN12', 'QN10', 'QN14'], dtype=object)

In [92]:
cd_id1 = {'Bronx': 'BX', 'Brooklyn': 'BK', 'Manhattan': 'MN', 'Queens': 'QN', 'Staten': 'SI'}

df_infr['cd_bor'] = df_infr['Qualifying Name'].str.extract('(?<=^....)([a-zA-Z]+)',
                                                                      expand=True)
df_infr['cd_num'] = df_infr['Qualifying Name'].str.extract('([0-9]+)',
                                                                                expand=True)

df_infr['cd_num'] =df_infr['cd_num'].apply(lambda x: '{0:0>2}'.format(x))
df_infr.replace({'cd_bor': cd_id1}, inplace=True)
df_infr['cd_id'] = df_infr.cd_bor + df_infr.cd_num

In [93]:
df_infr.head()

,Qualifying Name,high_inter,low_inter,with_mobile,no_mobile,cd_bor,cd_num,cd_id
0,"NYC-Bronx Community District 8--Riverdale, New...",29183,4731,17527,24508,BX,08,BX08
1,"NYC-Bronx Community District 12--Wakefield, Ne...",31137,2997,11414,33416,BX,12,BX12
2,"NYC-Bronx Community District 10--Co-op City, N...",31932,3679,12064,34986,BX,10,BX10
3,NYC-Bronx Community District 11--Pelham Parkwa...,30861,3864,11749,33173,BX,11,BX11
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",34030,4785,16292,41264,BX,03,BX03

In [94]:
df_infr.drop(['Qualifying Name', 'cd_num', 'cd_bor'], axis=1, inplace=True)

In [95]:
# Link the 3 dataframes
data_cd = pd.merge(df_com_new, df_infr, on='cd_id', how='left')
data_cd.head()

  cd_id  Number of Complaints  high_inter  low_inter  with_mobile  no_mobile
0  BX01                 74631     31711.0     3414.0      15981.0    36210.0
1  BX01                 74631     31711.0     3414.0      15981.0    36210.0
2  BK01                185057     44621.0     4843.0      21459.0    41531.0
3  MN01                 77974     72767.0     5016.0      41450.0    42526.0
4  MN01                 77974     72767.0     5016.0      41450.0    42526.0

In [98]:
data_final = pd.merge(data_cd, df_pop, on='cd_id', how='left')
data_final.head()

,cd_id,Number of Complaints,high_inter,low_inter,with_mobile,no_mobile,Total Population,higher_edu
0,BX01,74631,31711.0,3414.0,15981.0,36210.0,167147,2403
1,BX01,74631,31711.0,3414.0,15981.0,36210.0,167147,2403
2,BK01,185057,44621.0,4843.0,21459.0,41531.0,154713,17028
3,MN01,77974,72767.0,5016.0,41450.0,42526.0,159903,44912
4,MN01,77974,72767.0,5016.0,41450.0,42526.0,159903,44912

In [102]:
data_final = data_final.drop_duplicates()
data_final.head()

,cd_id,Number of Complaints,high_inter,low_inter,with_mobile,no_mobile,Total Population,higher_edu
0,BX01,74631,31711.0,3414.0,15981.0,36210.0,167147,2403
2,BK01,185057,44621.0,4843.0,21459.0,41531.0,154713,17028
3,MN01,77974,72767.0,5016.0,41450.0,42526.0,159903,44912
5,QN01,171484,60125.0,3551.0,31144.0,44614.0,182860,21055
6,SI01,182713,46304.0,2222.0,11151.0,50896.0,176338,12633